.color-box {
    width: 20%;
    height: 25%;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin-bottom: -4px;
    text-transform: uppercase;
    /* border: 1px solid black; */
}

.copy-button {
    width: 100px;
    height: 30px;
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -15px;
    text-align: center;
    outline: none;
    background: rgba(255, 255, 255, 0.3);
    line-height: 30px;
    color: white;
    border: none;
    opacity: 0;
}

.color-box:hover .copy-button { /* when color-box is hovered on, apply these styles to copy-button */
    opacity: 1;
    transition: 0.5s ease-out;
    cursor: pointer;
}

.box-content {
    position: absolute;
    padding: 10px;
    width: 100%;
    left: 0;
    bottom: 0;
    color: black;
    letter-spacing: 1px;
    font-size: 0.8rem;
}

.see-more {
    background: rgba(255, 255, 255, 0.3);
    position: absolute;
    border: none;
    color: white;
    width: 60px;
    height: 30px;
    right: 0;
    bottom: 0;
    text-align: center;
    line-height: 30px;
}

.copy-overlay {
    z-index: 0;
    opacity: 0;
    transition: 0.5s ease-in-out; /* control animation speed when changing (CSS properties). */
}

.copy-overlay.show {
    z-index: 10;
    opacity: 1;
    width: 100%;
    height: 100%;
    position: absolute;
}

.copy-message {
    opacity: 0;
    position: absolute;
    top: 50px;
    left: 106px;
}
.copy-message.show {
    opacity: 1;  
    z-index: 10;
    transition: 0.5s ease-in-out;
    transition-delay: 0.1s;
}
.copy-message h1 {
    font-weight: 400;
    text-shadow: 1px 1px 2px red, 0 0 1em black, 0 0 0.2em blue;
}

